body {
  counter-reset: figures;
}

figure {
  counter-increment: figures;
  text-align: center;
}

figure figcaption {
  font-style: italic;
  font-size: 0.9em;
}

figure figcaption::before {
  content: 'Figure ' counter(figures) ', ';
}

figure img {
  max-width: 100%;
}

main {
  min-height: calc(100vh - 165px);
}

blockquote {
  font-size: 0.95rem !important;
  font-style: italic;
  padding: 1rem 0.5rem 1rem 2rem;
  background-color: #eee;
}

blockquote p  {
  margin: 0;
}

blockquote::before {
  content: '"';
  font-family: cursive;
  display: block;
  position: relative;
  top: -11px;
  left: -33px;
  width: 20px;
  height: 20px;
  font-size: 40pt;
}

.blockquote-footer {
  margin: inherit;
}

article {
  page-break-after: always;
}

@media print {
  .p-break {
    page-break-before: always;
  }
  
  aside {
    display: none !important;
  }

  .container {
    max-width: initial !important;
    width: initial !important;
  }

  figure {
    page-break-inside: avoid;
  }

  figure img.h2cm {
    max-height: 2cm !important;
  }

  figure img.h3cm {
    max-height: 3cm !important;
  }

  figure img.h5cm {
    max-height: 5cm !important;
  }

  figure img.h7cm {
    max-height: 7cm !important;
  }

  figure img.h10cm {
    max-height: 10cm !important;
  }
}